*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Main Styling*/
html{
    font-size: 62.5%; /* 10px */
}

body{
    font-family: 'Merienda One', cursive;
    font-family: 'Lato', sans-serif;
    line-height:2rem;
    background-color: #1b1b2b;
    color: #fff;
}

a{
    text-decoration:none;
    color: #fff;
}

/*Utility Classes*/
.container{
    max-width: 110rem;
    margin: 2rem;
}

/*Navbar*/
#navbar .container{
    display:flex;
}

#navbar .container ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}