*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Main Styling*/
html{
    font-size: 62.5%; /* 10px */
}

body{
    font-family: 'Merienda One', cursive;
    font-family: 'Lato', sans-serif;
    line-height:2rem;
    background-color: #1b1b2b;
    color: #fff;
}

a{
    position: relative;
    text-decoration:none;
    color: #a0a0a0;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
}


p{
    margin: 2rem 0 4rem;
    font-size: 1.5rem;
}

.logo a{
    font-size: 2rem;
    font-weight: 700;
    color: #a0a0a0;
}

/*Utility Classes*/
.container{
    max-width: 100%;
    margin: 2rem;
}

.btn{
    border: .2rem solid #fff;
    padding: 1rem;
    margin-top: 10rem;
}

.btn:hover{
    color: #f58d42;    
}

/*Navbar*/
#navbar .container{
    display:flex;
    margin: auto;
    width: 85%;
    padding: 3rem 0;
    align-items: center;
    justify-content: space-between;
}

#navbar .container ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
#navbar .container ul li a:hover{
    color: #fff;
}

#navbar .container ul li a::after{
    content: "";
    position:absolute;
    background-color: #f58d42;
    height: .3rem;
    width: 0;
    left: 0;
    bottom: -1rem;
    transition: .3s;
}
#navbar .container ul li a:hover::after,
#navbar .container ul li a.current{
    width: 100%
}

/*Section*/
#home-info{
    margin: 10rem 5rem;
    display: flex;
    font-family: 'Merienda One', cursive;
}

.icons-left{
    display: flex;
    flex-direction: column;
    line-height:8rem;
}

.icons-left .fa-brands{
    font-size: 2rem;
}

.icons-left .fa-brands:hover{
    color: #f58d42;
}

.info-name{
    margin: 8rem;
}

.info-name h1{
    font-size: 5rem;
    font-weight: 400;
    line-height: 8rem;
}

.info-name h1 .name{
    color: #f58d42;
}

info-name a{
    position: absolute;
}

